.skills-item {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .skills-item {
    width: 30%;
  }
}

.skills-img {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .skills-img {
    width: 60px;
    height: 60px;
  }
}

.skills-name{
  font-family: "Roboto";
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-left: 12px;
}

@media screen and (min-width: 768px){
  .skills-name{
    font-size: 18px;
    margin-left: 14px;
  }
}